{{!-- <div id="homepage-card" class="card clickable-elements homepage-card brown darken-4" data-title="{{title}}" data-content="{{content}}">
    <div class="card-header clickable-elements" data-title="{{title}}" data-content="{{content}}">
      <span class="card-title clickable-elements yellow-text text-lighten-4" data-title="{{title}}" data-content="{{content}}">{{title}}</span>
      <span class="card-title clickable-elements yellow-text text-lighten-4" data-title="{{title}}" data-content="{{content}}">Posted by {{user.name}} on {{modify_date posted_date}}</span>
    </div>    
</div> --}}

<btn class="clickable-elements card-title homepage-card brown darken-4 yellow-text text-lighten-4" data-title="{{title}}" data-content="{{content}}">{{title}} Posted by {{user.name}} on {{modify_date posted_date}}</btn>

