<div id="homepage-card" class="card homepage-card brown darken-4" data-title="{{title}}" data-content="{{content}}">
    <div class="card-header">
        <span class="card-title yellow-text text-lighten-4">{{title}}</span>
        <span class="card-title yellow-text text-lighten-4">Posted by {{user.name}} on {{modify_date posted_date}}</span>
    </div>
    <div class="card-content yellow lighten-4">
        <p>{{content}}</p>
    </div>
</div>

